include ~@/templates/_adjacent/pictureBlock.pug
include ~@/templates/__global/layout/_footer.pug
include ~@/templates/__global/layout/_header.pug


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mastersuit - events
  body 
    .wrapper
      .firstScreenParralax.eventsFirstScreen
        +header("en")
        .firstScreenParralax__container.container.zIndexLayer
          h1.firstScreenParralax__painting Events
          h4.firstScreenParralax__defaultTitle Events
        
      .eventPage.zIndexLayer
        .container.eventPage__container 
          h4.eventPage__title An amazing journey into the world of Scottish  
          h4.eventPage__title single malt whiskey with The Macallan 
          p.eventPage__date.defaultText.defaultText_startAlign 01.04.2021
            span.eventPage__datePainting 01.04.2021

          .eventPage__textWrapper 
            p.eventPage__text.defaultText.defaultText_startAlign This evening's tasting set consists of new i teams for The Macallan Double
            p.eventPage__text.defaultText.defaultText_startAlign Cask 15 and 18 years old, limited The Macallan Edition, luxurious The Macallan Estate.
            p.eventPage__text.defaultText.defaultText_startAlign We fully plunged into the history of the creation of this noble drink, as well as: 
            p.eventPage__text.defaultText.defaultText_startAlign - Learned the subtleties and nuances that affect the taste;
            p.eventPage__text.defaultText.defaultText_startAlign - Learned how to taste this drink rightly;
            p.eventPage__text.defaultText.defaultText_startAlign - Gained an unforgettable experience while communicating with an expert .
            p.eventPage__text.defaultText.defaultText_startAlign We also touched upon the topic of investing in whiskey, which is so popular these days
            p.eventPage__text.defaultText.defaultText_startAlign Our friend, a wonderful speaker
            p.eventPage__text.defaultText.defaultText_startAlign and brand ambassador of The Macallan whiskey Alexey Savkin guided us in this process
        .eventPage__videoContainer
          video(controls).eventPage__video    
              source(src=require("@/assets/video/1.mp4") type="video/mp4") 
      +footer("en")

      
