

mixin footer(language)
    if language== "ru"
        footer.footer 
            .container.footer__container 
                .footer__logo
                    img(src=require("@/assets/images/_global/logo.svg"), alt="logo")
                .footer__column.footer__column_navigation
                    .footer__linksList
                        a.footer__link(href="/events.html") События 
                        a.footer__link(href="/contacts.html") Контакты 
                        a.footer__link(href="#") Галерея 
                        a.footer__link(href="/menu.html") Меню 
                        a.footer__link(href="/aboutUs.html") О нас

                .footer__column.footer__column_information
                    p.footer__link Москва, Пречистенка, 13
                    p.footer__link Время работы <br> с 10:00 до 22:00
                    a.footer__link(href="tel:+79104492425") +7 910 449 24 25 
                    +socialMedia("footer__socialMedia")
    else if language== "en"
        footer.footer 
            .container.footer__container 
                .footer__logo
                    img(src=require("@/assets/images/_global/logo.svg"), alt="logo")
                .footer__column.footer__column_navigation
                    .footer__linksList
                        a.footer__link(href="/events.html") Events 
                        a.footer__link(href="/contacts.html") Contacts 
                        a.footer__link(href="#") Gallery 
                        a.footer__link(href="/menu.html") Menu 
                        a.footer__link(href="/aboutUs.html") About us 

                .footer__column.footer__column_information
                    p.footer__link Moscow, Prechistenka, 13
                    p.footer__link Working hours <br> from 10:00 to 22:00
                    a.footer__link(href="tel:+79104492425") +7 910 449 24 25 
                    +socialMedia("footer__socialMedia")