@font-face {
  font-family: "NEON";
  src: URL("https://cywarr.github.io/small-shop/NEON.TTF") format("truetype");
  /*https://www.1001fonts.com/neon-font.html*/
}
body {
  margin: 0;
  /* overflow: hidden; */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.qwe {
  font-size: 60px;
  color: white;
  visibility: hidden;
}
