@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
html,
body {
  font-size: 8px;
}

@media (max-width: 480px) {
  html,
  body {
    font-size: 10px;
  }
}

/* Reset */
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*--------------------*/
/* fonts */
/* slider required styles */
/* global elements styles */
@media (max-width: 768px) {
  body.body-lock {
    overflow: hidden;
  }
}

.wrapper {
  overflow: hidden;
  font-family: "Montserrat";
  max-width: 100%;
  width: 100%;
  position: relative;
}

.wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
  z-index: 11;
}

@media (max-width: 768px) {
  .wrapper_shadow:after {
    visibility: visible;
    background-color: black;
    opacity: 0.7;
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.2;
  color: #3f3d56;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.4rem;
  }
}

.title_white {
  color: #ffffff;
}

.button {
  background: #6672fb;
  -webkit-box-shadow: 0px 0.3rem 1.4rem rgba(102, 114, 251, 0.5);
          box-shadow: 0px 0.3rem 1.4rem rgba(102, 114, 251, 0.5);
  border-radius: 15px;
  font-size: 1.6rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 2px solid transparent;
  background: #6672fb;
  color: #ffffff;
}

.button:hover {
  border: 2px solid #6672fb;
  background: #ffffff;
  color: #6672fb;
}

.button_white {
  border: 2px solid #6672fb;
  background-color: #ffffff;
  color: #6672fb;
}

.button_white:hover {
  border: 2px solid transparent;
  background: #6672fb;
  color: #ffffff;
}

.input {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #6672fb;
  border-radius: 15px;
  background-color: #edeef4;
  width: 100%;
  border: 2px solid #edeef4;
  font-weight: 500;
  font-size: 1.4rem;
  height: 5rem;
  padding: 0 2rem;
}

.input:focus {
  border: 2px solid #6672fb;
}

.input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  color: #acafb5;
}

.input::-moz-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  color: #acafb5;
}

.input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  color: #acafb5;
}

.input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  color: #acafb5;
}

.input::placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  color: #acafb5;
}

/* sections */
@-webkit-keyframes appear {
  0% {
    top: -100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
  }
  50% {
    top: 75%;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
    top: 50%;
  }
}
@keyframes appear {
  0% {
    top: -100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
  }
  50% {
    top: 75%;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
    top: 50%;
  }
}

.header {
  padding: 3.5rem 0;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    padding: 2rem 0;
  }
}

.header:after {
  right: 0;
  width: 70%;
}

.header:before {
  left: 0;
  width: 19%;
}

.header:after, .header:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: white;
}

@media (max-width: 1000px) {
  .header:after, .header:before {
    width: 100%;
  }
}

.header__logo {
  max-width: 16.5rem;
  margin-right: 9.5rem;
}

@media (max-width: 768px) {
  .header__logo {
    display: none;
  }
}

.header__logo source,
.header__logo img {
  width: 100%;
}

.header__logo_responsive {
  display: none;
}

@media (max-width: 768px) {
  .header__logo_responsive {
    max-width: 19rem;
    width: 100%;
    margin: 0;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo_responsive img,
  .header__logo_responsive source {
    width: 100%;
    height: 100%;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1.5rem;
  }
}

.header__burgerIcon {
  display: none;
}

@media (max-width: 768px) {
  .header__burgerIcon {
    border-radius: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 2.3rem;
    height: 2rem;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 2rem;
  }
  .header__burgerIcon::after, .header__burgerIcon::before,
  .header__burgerIcon span {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background-color: white;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header__burgerIcon::after {
    top: 0px;
  }
  .header__burgerIcon::before {
    bottom: 0px;
  }
  .header__burgerIcon_close {
    top: 12.5rem;
    right: 3rem;
  }
  .header__burgerIcon_close::after, .header__burgerIcon_close:before {
    background-color: #6672fb;
    top: 50%;
  }
  .header__burgerIcon_close span {
    opacity: 0;
  }
  .header__burgerIcon_close::after {
    -webkit-transform: translateX(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
  }
  .header__burgerIcon_close::before {
    -webkit-transform: translateX(-50%) rotate(-45deg);
        -ms-transform: translateX(-50%) rotate(-45deg);
            transform: translateX(-50%) rotate(-45deg);
  }
}

@media (max-width: 480px) {
  .header__burgerIcon {
    top: 4rem;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .navigation {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: -100%;
    position: fixed;
    background: #ffffff;
    -webkit-box-shadow: 0px 0.3px 2rem rgba(102, 114, 251, 0.5);
            box-shadow: 0px 0.3px 2rem rgba(102, 114, 251, 0.5);
    max-width: 40rem;
    z-index: 100;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    padding: 10rem 2rem 2rem 2rem;
  }
  .navigation_active {
    top: 50%;
    -webkit-animation: appear 2s ease-out forwards;
            animation: appear 2s ease-out forwards;
  }
  .navigation_active .header__logo_responsive {
    margin: 0 0 2rem 0;
  }
}

@media (max-width: 480px) {
  .navigation {
    max-width: 30rem;
    padding: 5rem 2rem 2rem 2rem;
  }
}

.navigation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .navigation__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navigation__block .spoiler__wrapper {
    margin-bottom: 16px;
  }
  .navigation__block .spoiler__arrow svg path {
    fill: #3f3d56;
  }
  .navigation__block .spoiler__list {
    min-width: 100%;
    max-width: 100%;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0px;
    top: 0;
    padding: 0;
  }
}

.navigation__block_buttons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .navigation__block_buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 1.6rem;
  }
}

@media (max-width: 480px) {
  .navigation__block_buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navigation__button {
  font-size: 1.6rem;
  color: white;
  margin-left: 3rem;
  background-color: transparent;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .navigation__button {
    margin-left: 0px;
    color: #6672fb;
  }
}

.navigation__button_bold {
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .navigation__button_bold {
    color: #3f3d56;
    font-size: 2.4rem;
  }
}

.navigation__button_white {
  width: 100%;
  height: 3.5rem;
  border-radius: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  max-width: 16.5rem;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #6672fb;
}

.navigation__button_white:hover {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #6672fb;
}

@media (max-width: 768px) {
  .navigation__button_white {
    display: block;
    width: 100%;
    max-width: 22rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    background-color: #6672fb;
    color: white;
    margin: 0 2rem 0 0;
    border: 2px solid transparent;
  }
  .navigation__button_white:hover {
    border: 2px solid #6672fb;
    color: #6672fb;
    background-color: #ffffff;
  }
}

@media (max-width: 480px) {
  .navigation__button_white {
    margin: 2rem 0 0 0;
  }
}

.login-js_changeState {
  display: none;
}

.login-js__privateOffice {
  position: relative;
  margin-right: 2rem;
}

.login-js__privateOffice:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: -2rem;
  height: 100%;
  width: 3px;
  background-color: white;
}

.login-js__exit, .login-js__alarm {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  margin-left: 2rem;
}

.login-js__exit svg, .login-js__alarm svg {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .login-js__exit svg path, .login-js__alarm svg path {
    fill: #6672fb;
  }
}

@media (max-width: 480px) {
  .login-js__exit, .login-js__alarm {
    display: inline-block;
    margin: 2rem 2rem 0 0;
  }
}

.firstScreen__wrapper {
  position: relative;
  padding-bottom: 10rem;
}

@media (max-width: 768px) {
  .firstScreen__wrapper {
    margin-bottom: 10rem;
  }
}

.firstScreen__wrapper:after, .firstScreen__wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  -webkit-clip-path: polygon(100% 0, 100% 45%, 69% 79%, 0 54%, 0 0);
          clip-path: polygon(100% 0, 100% 45%, 69% 79%, 0 54%, 0 0);
}

@media (max-width: 768px) {
  .firstScreen__wrapper:after, .firstScreen__wrapper:before {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.firstScreen__wrapper:after {
  background-color: #6672fb;
  -webkit-box-shadow: rgba(102, 114, 251, 0.5);
          box-shadow: rgba(102, 114, 251, 0.5);
}

.firstScreen__contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 3rem 0;
  position: relative;
  z-index: 10;
}

.firstScreen__textWrapper {
  margin: 1rem 0;
}

.firstScreen__img {
  margin-right: 3rem;
  max-width: 16rem;
  width: 100%;
}

@media (max-width: 1000px) {
  .firstScreen__img {
    display: none;
  }
}

.firstScreen__img img,
.firstScreen__img source {
  width: 100%;
}

.firstScreen__title {
  margin-bottom: 10px;
}

.firstScreen__subTitle {
  font-size: 2.4rem;
  line-height: 1.2;
  color: #ffffff;
}

@media (max-width: 768px) {
  .firstScreen__subTitle {
    font-size: 1.6rem;
  }
}

.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .cards__row {
    padding-top: 4rem;
  }
}

.cards__card {
  margin: 11rem 1.5rem 0 1.5rem;
}

.article {
  position: relative;
  /*   &__img {
    img,
    source {
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      max-width: 25%;
      @media (max-width: 600px) {
        position: static;
        transform: translateY(0%);
        max-width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  } */
}

.article:after {
  position: absolute;
  content: "";
  min-height: 100%;
  height: 100%;
  min-width: 120%;
  display: block;
  background-image: url("../img/article/background.svg");
  background-position: right;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.article__wrapper {
  margin: 6.5rem auto 7.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

@media (max-width: 600px) {
  .article__wrapper {
    padding-top: 2rem;
  }
}

@media (max-width: 768px) {
  .article__wrapper {
    margin: 6rem 0 4.5rem 0;
  }
}

.article__row {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 4.5rem;
}

.article__column {
  padding: 5rem 0;
  max-width: 68%;
  padding: 3rem;
  color: #3f3d56;
  height: 100%;
  max-width: 57.8rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 3.4rem rgba(206, 205, 205, 0.7);
          box-shadow: 0px 4px 3.4rem rgba(206, 205, 205, 0.7);
  border-radius: 25px;
}

@media (max-width: 600px) {
  .article__column {
    padding: 2rem 0 5rem 0;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .article__column {
    padding: 5rem 0;
  }
}

@media (max-width: 600px) {
  .article__title {
    margin-bottom: 3.5rem;
    margin-right: 2rem;
  }
}

.article__columnName {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.article__text {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .article__text {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

.article__text:last-of-type {
  margin: 0;
}

.FaQ__container {
  padding-bottom: 15rem;
  padding-top: 13rem;
}

.FaQ__title {
  margin-bottom: 5rem;
}

@media (max-width: 480px) {
  .FaQ__title {
    margin-bottom: 3.5rem;
  }
}

.spoilerTab {
  border-top: 1px solid #acafb5;
  position: relative;
  border-bottom: 1px solid #acafb5;
}

.spoilerTab__wrapper {
  color: #3f3d56;
  max-width: 105rem;
  width: 100%;
  padding: 2rem 0 1rem 0;
}

.spoilerTab__dropDown {
  display: none;
}

.spoilerTab__dropDown_open {
  display: block;
  padding: 0 0 2rem 0;
}

.spoilerTab__title {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  max-width: 80%;
}

@media (max-width: 480px) {
  .spoilerTab__title {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.spoilerTab__text {
  font-size: 1.6rem;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  line-height: 1.3;
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .spoilerTab__text {
    font-size: 1.2rem;
  }
}

.spoilerTab__text:last-of-type {
  margin: 0;
}

.spoilerTab__button {
  display: block;
  position: absolute;
  top: 0px;
  right: 4.5rem;
}

.spoilerTab__button span {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.spoilerTab__button span:after, .spoilerTab__button span:before {
  content: "";
  position: absolute;
  background-color: #6672fb;
  border-radius: 100%;
  -webkit-transition: 0.6s ease-in;
  -o-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
  height: 4.5rem;
  width: 4.5rem;
  z-index: 4;
}

@media (max-width: 480px) {
  .spoilerTab__button span:after, .spoilerTab__button span:before {
    width: 3.6rem;
    height: 3.6rem;
  }
}

.spoilerTab__button span:before {
  background-image: url("../img/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  z-index: 5;
}

.spoilerTab__button input {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

.spoilerTab__button input:checked + span:before {
  background-color: #6672fb;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.notes__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem -1.5rem 0 -1.5rem;
}

.notes__item {
  margin: 1.5rem;
  max-width: 26rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 3.4rem rgba(206, 205, 205, 0.7);
          box-shadow: 0px 4px 3.4rem rgba(206, 205, 205, 0.7);
  border-radius: 25px;
  width: 100%;
  padding: 2rem;
}

@media (max-width: 480px) {
  .notes__item {
    border-radius: 15px;
    padding: 1rem;
    margin: 0.5rem;
    max-width: 16rem;
  }
}

.notes__header {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  color: #6672fb;
  margin-bottom: 5px;
}

@media (max-width: 480px) {
  .notes__header {
    font-size: 1.4rem;
  }
}

.notes__text {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #3f3d56;
}

@media (max-width: 480px) {
  .notes__text {
    font-size: 1rem;
  }
}

.footer {
  position: relative;
  -webkit-box-shadow: 0px 3px 5rem rgba(102, 114, 251, 0.5);
          box-shadow: 0px 3px 5rem rgba(102, 114, 251, 0.5);
}

.footer:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 3px;
  background-color: #6672fb;
  width: 100%;
}

.footer__wrapper {
  overflow: hidden;
  position: relative;
  padding-bottom: 10rem;
}

@media (max-width: 480px) {
  .footer__wrapper {
    padding-bottom: 3rem;
  }
}

.footer__wrapper::after, .footer__wrapper::before {
  position: absolute;
  content: "";
  background-size: 100%;
  max-width: 60rem;
  width: 100%;
  height: 173%;
  background-image: url("../img/footer/background.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.footer__wrapper:after {
  top: -32rem;
  left: -14.5rem;
  background-position: left;
}

@media (max-width: 1280px) {
  .footer__wrapper:after {
    top: -42rem;
    left: -14.5rem;
  }
}

@media (max-width: 768px) {
  .footer__wrapper:after {
    top: -32rem;
    left: -14.5rem;
  }
}

.footer__wrapper::before {
  bottom: -40rem;
  right: -13rem;
  background-position: right;
  -webkit-transform: translate(35deg);
      -ms-transform: translate(35deg);
          transform: translate(35deg);
}

.footer__logoWrapper {
  margin-right: 2.5rem;
}

@media (max-width: 1280px) {
  .footer__logoWrapper {
    margin: 0;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6rem;
}

@media (max-width: 1280px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 66%;
}

@media (max-width: 1280px) {
  .footer__row {
    max-width: 100%;
    margin-top: 6rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .footer__row {
    margin-top: 3rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 26rem;
  margin-right: 3rem;
}

.footer__column:last-of-type {
  margin: 0;
}

@media (max-width: 768px) {
  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .footer__column {
    max-width: 14rem;
  }
  .footer__column_big {
    max-width: 100%;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  text-transform: capitalize;
  color: #6672fb;
  border-bottom: 1px solid #6672fb;
  padding-right: 20%;
  padding-bottom: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 2rem;
}

.footer__link {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 0.7rem;
  color: #3f3d56;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (max-width: 480px) {
  .footer__link {
    font-size: 1.2rem;
  }
}

.footer__link:hover {
  color: #6672fb;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__contact {
  font-size: 1.6rem;
  line-height: 1.3;
  text-transform: capitalize;
  color: #6672fb;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.footer__text {
  line-height: 1.5;
  color: #acafb5;
  margin-top: 1.6rem;
}

.footer__feedBackForm {
  margin-top: 0.7rem;
}

.footer__button {
  width: 100%;
  margin-top: 1rem;
}

.logoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 26.5rem;
  width: 100%;
}

@media (max-width: 768px) {
  .logoWrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.logoWrapper__shield {
  max-width: 6.8rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .logoWrapper__shield {
    margin: 0 1.5rem 0 0;
  }
}

.logoWrapper__textLogo {
  max-width: 56.5rem;
}

.logoWrapper__shield, .logoWrapper__textLogo {
  width: 100%;
  display: block;
}

.logoWrapper__shield img,
.logoWrapper__shield source, .logoWrapper__textLogo img,
.logoWrapper__textLogo source {
  display: block;
  width: 100%;
}

/* elements */
.form {
  background: #ffffff;
  border: 1px solid rgba(230, 229, 242, 0.811762);
  -webkit-box-shadow: 0px 1.1rem 3.4rem rgba(206, 205, 205, 0.7);
          box-shadow: 0px 1.1rem 3.4rem rgba(206, 205, 205, 0.7);
  border-radius: 25px;
  border: 3px solid transparent;
  padding: 5.6rem 9.5rem 5rem 9.5rem;
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form:hover {
  border: 3px solid #6672fb;
}

@media (max-width: 768px) {
  .form {
    padding: 5.6rem 5rem 5rem 5rem;
  }
}

@media (max-width: 480px) {
  .form {
    padding: 5rem 2rem;
    margin: 0 -2rem;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3rem -1.5rem 2rem -1.5rem;
}

@media (max-width: 768px) {
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2rem;
  }
}

.form__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  color: #3f3d56;
}

.form__button {
  font-size: 1.6rem;
  height: 5rem;
  max-width: 100%;
  width: 100%;
  margin: 2rem 0 1rem 0;
}

.form__text {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #acafb5;
  padding-left: 1.6rem;
}

@media (max-width: 480px) {
  .form__text {
    font-size: 1rem;
  }
}

.form__text_link {
  padding: 0;
  color: #6672fb;
  text-decoration: underline;
}

.form__text_link:hover {
  text-decoration: underline;
}

.form__label {
  max-width: auto;
  width: 100%;
  background: transparent;
  display: inline-block;
  margin: 0 1.5rem;
}

@media (max-width: 768px) {
  .form__label {
    margin: 1rem 0;
    max-width: 36rem;
  }
}

.form__label_data {
  position: relative;
}

.form__label_data input {
  padding-right: 6rem;
}

.form__label_data span {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.form__label_data span svg {
  width: 100%;
  height: 100%;
}

.form .select {
  max-width: 36rem;
}

.form .select__label {
  width: 100%;
  max-width: 100%;
  height: 5rem;
  position: relative;
  z-index: 1;
}

.form .select__label input {
  position: relative;
  z-index: -1;
  cursor: pointer;
}

.form .select__label input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  color: #acafb5;
}

.form .select__label input::-moz-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  color: #acafb5;
}

.form .select__label input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  color: #acafb5;
}

.form .select__label input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  color: #acafb5;
}

.form .select__label input::placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  color: #acafb5;
}

.form .select__dropdown {
  top: 5rem;
  z-index: 20;
}

.form .select__arrow svg {
  width: 2rem;
  height: 1.2rem;
}

.form .select__arrow svg path {
  fill: #6672fb;
}

.rangeInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.rangeInput__line {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  /* runnable track */
  /* runnable track firefox*/
}

.rangeInput__line::-webkit-slider-thumb {
  opacity: 0;
}

.rangeInput__line::-moz-range-thumb {
  opacity: 0;
}

.rangeInput__line:focus {
  outline: none;
}

.rangeInput__line::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.rangeInput__line ::-ms-ticks-before {
  display: block;
  color: black;
}

.rangeInput__line::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: rgba(102, 114, 251, 0.3);
  border-radius: 4px;
}

.rangeInput__line::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: rgba(102, 114, 251, 0.3);
  border-radius: 4px;
}

.rangeInput__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font: bold 0.5em/1.5 "Roboto Condensed", sans-serif;
  position: absolute;
  top: 0%;
  -webkit-transform: translateY(-25%);
      -ms-transform: translateY(-25%);
          transform: translateY(-25%);
  z-index: 2;
  pointer-events: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 7px rgba(122, 64, 242, 0.723093);
          box-shadow: 0px 1px 7px rgba(122, 64, 242, 0.723093);
  background-color: #6672fb;
  cursor: pointer;
}

.rangeInput__button::after {
  content: "";
  background-image: url("../img/icons/checkMark.svg");
  width: 10px;
  height: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rangeInput__valueInput {
  position: absolute;
  max-width: 50px;
  background-color: transparent;
  top: -100%;
  color: #6672fb;
  font-size: 16px;
  font-weight: 700;
}

.checkBox {
  display: block;
  margin-bottom: 0.9rem;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #3f3d56;
  padding-left: 2.8rem;
  position: relative;
}

@media (max-width: 480px) {
  .checkBox {
    font-size: 1.2rem;
  }
}

.checkBox__text {
  position: relative;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.checkBox__text:after, .checkBox__text:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2.2rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #acafb5;
  border-radius: 3px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 1.8rem;
  width: 1.8rem;
}

.checkBox__text:before {
  background-image: url("../img/icons/checkMark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 70%;
  opacity: 0;
}

.checkBox__text:hover:after {
  border: 1px solid #6672fb;
}

.checkBox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  margin: 1rem 0 0 2rem;
}

.checkBox input:checked + .checkBox__text:before {
  background-color: #6672fb;
  opacity: 1;
}

.checkBox input:hover ~ .checkBox__note {
  visibility: visible;
  opacity: 1;
}

.checkBox__note {
  position: absolute;
  left: 0;
  display: block;
  top: 30px;
  font-size: 2.4rem;
  line-height: 1.2;
  max-width: 80%;
  padding: 3rem;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  visibility: hidden;
  color: #3f3d56;
  border: 2px solid #6672fb;
  background-color: white;
  z-index: 3;
  border-radius: 25px;
}

@media (max-width: 1000px) {
  .checkBox__note {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .checkBox__note {
    border-radius: 15px;
    font-size: 1.4rem;
    max-width: 100%;
    width: 100%;
  }
}

.spoiler {
  position: relative;
}

.spoiler_open .spoiler__list {
  opacity: 1;
  visibility: visible;
  max-height: 26rem;
}

.spoiler_open .spoiler__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.spoiler__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spoiler__button {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.spoiler__arrow {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 6px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.spoiler__arrow svg {
  width: 2rem;
  height: 2rem;
}

.spoiler__arrow svg path {
  fill: white;
}

.spoiler__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  -webkit-box-shadow: 0px 0.4rem 3.4rem rgba(206, 205, 205, 0.7);
          box-shadow: 0px 0.4rem 3.4rem rgba(206, 205, 205, 0.7);
  border-radius: 25px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  top: 4rem;
  left: 0;
  min-width: 160%;
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  z-index: 12;
}

.spoiler__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spoiler__link:hover > .spoiler__text {
  color: #6672fb;
}

.spoiler__link:hover > img,
.spoiler__link source {
  width: 5rem;
  height: 5rem;
}

.spoiler__link img,
.spoiler__link source {
  width: 3rem;
  height: 3rem;
}

.spoiler__text {
  font-size: 16px;
  color: #3f3d56;
  margin: 0 0 0 10px;
  -webkit-transition: 0.3 ease;
  -o-transition: 0.3 ease;
  transition: 0.3 ease;
}

.card {
  color: #3f3d56;
  background: #ffffff;
  -webkit-box-shadow: 0px 0.4rem 3.4rem rgba(206, 205, 205, 0.7);
          box-shadow: 0px 0.4rem 3.4rem rgba(206, 205, 205, 0.7);
  border-radius: 25px;
  max-width: 26rem;
  width: 100%;
  padding: 1.7rem;
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .card {
    border-radius: 15px;
    max-width: 16rem;
  }
}

.card__image {
  max-width: 20rem;
  width: 100%;
  position: absolute;
  top: -9.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

@media (max-width: 480px) {
  .card__image {
    top: -7rem;
  }
}

.card__image img,
.card__image source {
  width: 100%;
}

.card__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

@media (max-width: 480px) {
  .card__title {
    font-size: 1.4rem;
  }
}

.card__text {
  font-size: 1.2rem;
  line-height: 1.2;
}

@media (max-width: 480px) {
  .card__text {
    font-size: 1rem;
  }
}

.card__button {
  margin-top: 2rem;
}

@media (max-width: 480px) {
  .card__button {
    font-size: 1.2rem;
    margin-top: 1rem;
    height: 4rem;
  }
}
