/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

// ===================================================================================================================================================================
//  ========================================================================     FONTS           ====================================================================
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@font-face {
  font-family: "FontAwesome";
  src: url("fonts/fontawesome-webfont.eot");
  src: local("☺"), url("fonts/fontawesome-webfont.woff") format("woff"),
    url("fonts/fontawesome-webfont.ttf") format("truetype"),
    url("fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Bold.eot");
  src: local("☺"), url("fonts/Gotham-Bold.woff") format("woff"),
    url("fonts/Gotham-Bold.ttf") format("truetype"),
    url("fonts/Gotham-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham - Book";
  src: url("fonts/GOTHAMBOOK.eot");
  src: local("☺"), url("fonts/GOTHAMBOOK.woff") format("woff"),
    url("fonts/GOTHAMBOOK.ttf") format("truetype"),
    url("fonts/GOTHAMBOOK.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/GothamMedium.eot");
  src: local("☺"), url("fonts/GothamMedium.woff") format("woff"),
    url("fonts/GothamMedium.ttf") format("truetype"),
    url("fonts/GothamMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MYRIADPRO-REGULAR.eot");
  src: local("☺"), url("fonts/MYRIADPRO-REGULAR.woff") format("woff"),
    url("fonts/MYRIADPRO-REGULAR.ttf") format("truetype"),
    url("fonts/MYRIADPRO-REGULAR.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@mixin background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    color: #ffffff;
    font-family: "Gotham - Book";
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  ::-moz-placeholder {
    color: #ffffff;
    font-family: "Gotham - Book";
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  :-ms-input-placeholder {
    color: #ffffff;
    font-family: "Gotham - Book";
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  :-moz-placeholder {
    color: #ffffff;
    font-family: "Gotham - Book";
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
}
//  ========================================================================     FONTS           =====================================================================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
//  ========================================================================     Settings        =====================================================================
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
//  ========================================================================     Settings        =====================================================================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// ===================================================================================================================================================================
//  ========================================================================     Global Media        =================================================================
@media (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 7px;
  }
}

//  ========================================================================     Global Media Breakpoints     ========================================================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// ====================================================================================================================================================================
//  ========================================================================     <!-- Main full screen block --> ======================================================

.header {
  &__wrapper {
    @include background-image;
    background-image: url(resources/1.main__block/Creatives__background.png);
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__panel {
    margin: 43px 0px 18px 0px;
    border-bottom: 1px solid rgb(49%, 49%, 50%, 0.4);
    padding: 0px 20px;
    @media (max-width: 750px) {
      margin: 13px 0px 10px 0px;
      padding: 0px 20px 15px 20px;
    }
  }
}

.panel {
  &__body {
    display: flex;
    justify-content: space-between;
    max-width: 1176px;
    font-family: "Myriad Pro";
    font-size: 2rem;
    font-weight: 400;
    margin: 0 auto;
    align-items: center;
  }

  &__logo {
    align-self: flex-start;
    flex: 1 1 auto;
    @media (max-width: 750px) {
      flex: 0 0 auto;
    }

    img {
      width: 7.9rem;
      height: 7.5rem;
    }
  }

  &__nav {
    display: flex;
  }

  &__nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
    font-size: 2rem;
    height: 100px;
    padding: 0px 25px;
    @media (max-width: 1024px) {
      padding: 0px 15px;
    }
    @media (max-width: 750px) {
      height: 100%;
    }
  }

  &__nav-item:hover {
    content: "";
    border-bottom: 5px solid #11749e;
    transition: all 0.2s ease;
  }

  &__social-networks {
    margin: 0px 0px 0px 12px;
    max-width: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 750px) {
      margin: 0 auto;
      justify-content: space-around;
    }
  }
}

.main-screen {
  &__body {
    font-family: "Gotham";
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    color: #f5f5f5;
    font-size: 15.3rem;
    font-weight: 700;
    letter-spacing: -0.8rem;
    @media (max-width: 750px) {
      font-size: 13.3rem;
    }
    @media (max-width: 574px) {
      font-size: 10.3rem;
    }
    @media (max-width: 450px) {
      font-size: 7.3rem;
    }
  }

  &__subtitle {
    color: #11749e;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1.7rem;
    margin: 15px 0px;
    padding: 0px 15px;
    @media (max-width: 400px) {
      font-size: 1.5rem;
    }
  }
}

.scroll {
  &__text {
    display: block;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    scroll-behavior: smooth;
  }

  &__image {
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 6.5rem;
    max-height: 6.5rem;
  }
}
//  ====================================================================
//  =================    <!-- Burger menu--> ===========================
// This CSS only for burger menu.

@media (max-width: 750px) {
  .header {
    &__burger-menu {
      display: block;
      position: relative;
      position: absolute;
      right: 20px;
      top: 5%;
      width: 30px;
      height: 20px;
      padding: 5px;
      &::after,
      &::before {
        content: "";
        background-color: white;
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      &::after {
        bottom: 0px;
      }

      &::before {
        top: 0px;
      }
      &_active::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &_active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }

      &_active span {
        transform: scale(0);
      }

      span {
        background-color: white;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
    }
  }
  //================================================================
  //It makes menu visible when icon of a burger  turned on

  .panel {
    &__nav {
      @media (max-width: 750px) {
        position: absolute;
        top: -100%;
      }
      &_burger-state {
        position: absolute;
        right: 0;
        top: 21%;
        width: 40%;
        height: 65%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(22, 22, 26);
        transition: all 0.3s ease 0s;
        li {
          border: 1px rgb(49%, 49%, 50%, 0.4) solid;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// ---------------------End of burger menu--------------
//  =================    <!-- Burger menu--> ===========
//  ====================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
//  ========================================================================     <!-- Main full screen block --> =====================================================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// ===================================================================================================================================================================
//  =======================================================    <!-- The second block blue color / called WE ARE AWESOME AGENCY-->  =================================

.section {
  color: #ffffff;
  overflow: hidden;
  font-family: "Gotham - Book";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;

  // The second block blue color / called WE ARE AWESOME AGENCY
  &_bc-blue {
    background-color: #11749e;
  }

  //body for blocks without full screen elements
  &__body {
    max-width: 1170px;
    margin: 0rem 2rem 10rem 2rem;
    @media (max-width: 1024px) {
      margin: 0rem 2rem 7rem 2rem;
    }
  }
}

.logo-header {
  &__title {
    //background logo
    background-size: contain;
    //center title
    display: flex;
    justify-content: center;
    align-items: center;
    //title text style
    text-transform: uppercase;
    font-size: 3.8rem;
    min-height: 18rem;
    font-family: "Gotham";
    font-weight: 500;
    text-align: center;
    margin: 10rem 0rem 7rem 0rem;
    @media (max-width: 1024px) {
      margin: 7rem 0rem 5rem 0rem;
      min-height: 14rem;
    }
    @media (max-width: 850px) {
      font-size: 3.3rem;
      margin: 5rem 0rem 3rem 0rem;
    }
  }
}

.row {
  display: flex;
  justify-content: center;
  @media (max-width: 850px) {
    flex-direction: column;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 25%;
    text-align: center;
    padding: 0rem 1.5rem;
    @media (max-width: 850px) {
      margin-top: 3rem;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    // ICONS in the SECOND BLUE block
    &_w {
      width: 13.3rem;
      height: 13.3rem;
      border-radius: 100%;
      background-color: #2e85aa;
      @media (max-width: 850px) {
        width: 10rem;
        height: 10rem;
      }
      img {
        width: 3.5rem;
        height: 3.4rem;
      }
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-family: Gotham;
    @media (max-width: 850px) {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    line-height: 2rem;
    @media (max-width: 850px) {
      display: block;
      max-width: 600px;
    }
  }
}

//  ===========================================================      <!-- The second block blue color / called WE ARE AWESOME AGENCY-->  =============================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// ===================================================================================================================================================================
//================================================================   <!-- The third block with full screen pictures and notes -->  ===================================

.full-screen {
  //container for whole section
  &__row {
    display: flex;
    @media (max-width: 850px) {
      flex-direction: column-reverse;
    }
    &_2 {
      flex-direction: row-reverse;
      @media (max-width: 850px) {
        flex-direction: column-reverse;
      }
    }
  }

  &__image {
    //The FIRST row IMAGE
    flex: 0 1 50%;
    @media (max-width: 850px) {
      min-height: 32rem;
    }
  }
}

//box for text content
.box {
  flex: 1 1 50%;
  //wrapper for background-color
  &__wrapper {
    //In the FIRST row WRAPPER
    font-family: "Gotham - Book";
    background-color: #222222;
    display: flex;
    justify-content: center;
    //In the SECOND row WRAPPER
    &_2-row {
      background-color: #f3f3f3;
    }
  }

  //body of part with text - "notes"
  &__body {
    //In the FIRST row block BODY TEXT
    max-width: 470px;
    width: 100%;
    color: #ffffff;
    padding: 0px 2rem;
    margin: 10rem 0px;
    @media (max-width: 1024px) {
      margin: 8rem 0px;
    }
    @media (max-width: 850px) {
      margin: 4rem 0px;
    }
    //In the SECOND row block BODY TEXT
    &_white {
      color: #222222;
    }
  }

  &__date {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  &__title {
    font-family: Gotham;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2.2rem;
  }

  &__text {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.4rem;
    padding: 1rem 0px;
    text-align: justify;
  }
}

//================================================================   <!-- The third block with full screen pictures and notes -->  ===================================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// ===================================================================================================================================================================
//================================================================   <!-- "Let's BLOG" / the Fourth block --> =========================================================

.section {
  &_bc-white {
    background-color: #ffffff;
    color: #222222;
  }
}
.logo-header {
  &__title {
    &_blog {
      margin: 9rem 0px 4rem 0px;
      @media (max-width: 1024px) {
        margin: 7rem 0px 4rem 0px;
      }
    }
  }
  &__sub-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 7.6rem;
    @media (max-width: 1024px) {
      margin-bottom: 6.6rem;
    }
    @media (max-width: 850px) {
      font-size: 2.5rem;
    }
  }
}

.row {
  &__image {
    &_blog {
      margin-bottom: 4.4rem;
      max-width: 27rem;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
      @media (max-width: 850px) {
        max-width: 22rem;
      }
    }
  }

  &__title {
    &_blog {
      color: #11749e;
    }
  }
}
//================================================================   <!-- "Let's BLOG" / the Fourth block --> =========================================================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// ===================================================================================================================================================================
//================================================================ <!-- small section with 2 notes on blue background -->  ===========================================

.row {
  &_comment {
    margin: 10rem 0px 0px 0px;
    @media (max-width: 1024px) {
      margin: 6rem 0px 0px 0px;
    }
    @media (max-width: 850px) {
      margin: 3rem 0px 0px 0px;
    }
  }

  &__column {
    &_comment {
      flex: 1 1 50%;
      flex-direction: row;
      text-align: left;
      align-self: flex-start;
    }
  }

  &__image {
    &_comment {
      margin: 0px 3rem 0px 0px;
      align-self: flex-start;
      max-width: 6.9rem;
      max-height: 6.9rem;
      width: 100%;
      height: 100%;
      @media (max-width: 850px) {
        max-width: 4.9rem;
        max-height: 4.9rem;
      }
    }
  }
}

//================================================================ <!-- small section with 2 notes on blue background -->  ===========================================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// ===================================================================================================================================================================
// ================================================================ <!-- Section about RESPONSIVE DESIGN -->   =======================================================

.responsive-design {
  &__wrapper {
    max-width: 1083px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12.5rem 0px 9.5rem 0px;
    @media (max-width: 1024px) {
      margin: 10rem 0px 5rem 0px;
      @media (max-width: 850px) {
        margin: 6rem 0px 5rem 0px;
      }
    }
  }

  &__line {
    font-family: Gotham;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #11749e;
    width: 100%;
    padding: 1.6rem 0px 1.6rem 20px;
    &_1 {
      max-width: 37rem;
      margin-top: 7rem;
      @media (max-width: 850px) {
        margin-top: 3rem;
      }
    }

    &_2 {
      max-width: 40rem;
      margin: 2.4rem 0px;
    }

    &_3 {
      max-width: 42.8rem;
    }
  }

  &__image {
    background-size: contain;
    max-width: 390px;
    width: 100%;
    padding-bottom: 60.5%;
    @media (max-width: 850px) {
      padding-bottom: 50.5%;
    }
  }
}

// ================================================================ <!-- Section about RESPONSIVE DESIGN -->   =======================================================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// ===================================================================================================================================================================
// ================================================================    <!-- Section OUR TEAM -->  ======================================================================

.logo-header {
  &__title {
    &_team {
      margin: 6.7rem 0px;
      @media (max-width: 1024px) {
        margin: 5rem 0px;
      }
    }
  }
}
.row {
  &_team {
    @media (max-width: 850px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__image {
    &_team {
      max-width: 27rem;
      max-height: 41.4rem;
      width: 100%;
      position: relative;
      @media (max-width: 850px) {
        max-width: 24rem;
        max-height: 36rem;
      }
      img {
        width: 100%;
        height: 100%;
      }
      @media (max-width: 850px) {
        min-width: 19rem;
        min-height: 28rem;
      }
    }
  }
}

.name {
  position: absolute;
  bottom: -7%;
  background-color: #ffffff;
  max-width: 80%;
  width: 100%;
  font-family: Gotham;
  font-weight: 500;
  text-transform: uppercase;

  &__full-name {
    display: block;
    color: #11749e;
    font-size: 2rem;
    margin: 1.3rem 0px;
  }

  &__position {
    font-size: 1.5rem;
    color: #000000;

    &_low {
      text-transform: capitalize;
    }
  }
}
//================================================================  <!-- Section OUR TEAM -->   ======================================================================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// ===================================================================================================================================================================
//================================================================        <!-- Section for CONTACTING us -->  =========================================================
.logo-header {
  &__title {
    &_contact {
      margin: 14.5rem 0px 7.5rem 0px;
      margin: 6.7rem 0px;
      @media (max-width: 1024px) {
        margin: 10rem 0px 6.5rem 0px;
      }
      @media (max-width: 850px) {
        margin: 7rem 0px 3rem 0px;
      }
    }
  }
}

.contact {
  @include placeholder;
  &__body {
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 2rem;
  }

  &__row-inputs {
    display: flex;
    justify-content: space-between;
    margin: 0px -1rem;
    @media (max-width: 750px) {
      flex-direction: column;
    }
  }
  &__input {
    background-color: transparent;
    flex: 1 1 33.333%;
    border: 1px solid #929292;
    color: white;
    font-size: 1.5rem;
    padding: 2rem;
    margin: 0px 1rem 4rem 1rem;

    &_text-area {
      max-height: 151px;
      resize: none;
      width: 100%;
      margin: 0px 0px 4rem 0px;
    }
  }

  &__button {
    display: block;
    width: 22.7rem;
    height: 6.4rem;
    background-color: #11749e;
    color: #ffffff;
    font-family: Gotham;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px auto 10rem auto;
  }
}
//================================================================      <!-- Section for CONTACTING us -->===========================================================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// ===================================================================================================================================================================
//================================================================        <!-- Google Map-->  =======================================================================

#map {
  width: 100%;
  height: 33rem;
  @media (max-width: 1024px) {
    height: 30rem;
  }
  @media (max-width: 750px) {
    height: 40rem;
  }
}
//================================================================     <!-- Google Map-->    =========================================================================
// ===================================================================================================================================================================
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// *------------------------------------------------------------------------------------------------------------------------------------------------------------------*
// ===================================================================================================================================================================
//================================================================        <!-- Footer-->  =======================================================================
.footer {
  background-color: #222222;
  height: 11.5rem;
  // height: 100px;

  &__body {
    display: flex;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    color: #ffffff;
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.26px;
    height: 100%;
    padding: 15px;
  }
}
