.defaultText {
  font-size: 2.1rem;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.1em;
  &_white {
    color: #ffffff;
  }

  &_startAlign {
    text-align: left;
  }
}

@media (max-width: 1440px) {
  .defaultText {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .defaultText {
    font-size: 1.4rem;
    line-height: 1.7;
  }
}
