.header {
  width: 100%;
  padding: 50px 20px 20px 20px;
  max-width: 200rem;
  font-family: "Bebas Neue";
  padding-bottom: 2.4rem;
  &__container {
    display: grid;
    grid-template-columns: 7rem 1fr 22rem;
    align-items: center;
    gap: 4rem;
  }
  &__logotype {
    max-width: 7.2rem;
    width: 100%;
    height: 7.7rem;
    picture > * {
      width: 100%;
      height: 100%;
    }
  }
}

.iconsBar {
  display: flex;
  &__icon {
    width: 3rem;
    height: 3rem;
    transition: 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
    &:not(:first-of-type) {
      margin-left: 3rem;
    }
    picture > * {
      width: 100%;
      height: 100%;
    }
  }
}

.counter {
  position: relative;
  &__number {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    position: absolute;
    font-family: "Bebas Neue";
    font-size: 1.4rem;
    color: black;
    &_translateCentered {
      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width: 769px) {
  .responsiveMenu,
  .burgerIcon {
    display: none;
  }
}

@media (max-width: 768px) {
  .burgerIcon {
    cursor: pointer;
    width: 27px;
    height: 18.5px;
    background-color: transparent;
    position: relative;
    z-index: 8;
    margin-left: auto;
    order: 4;
    &::after,
    &::before,
    span {
      left: 0;
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #000000;
      border-radius: 3px;
      transition: 0.3s ease;
    }

    &:after {
      bottom: 0;
    }

    &::before {
      top: 0;
    }

    span {
      top: 50%;
      transform: translateY(-50%);
    }
    &_active {
      left: 0;
      &::after,
      &::before {
        top: 50%;
      }
      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

      span {
        opacity: 0;
      }
    }
  }

  .responsiveMenu {
    display: block;
    height: 100vh;
    width: 49%;
    background-color: white;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s ease;
    z-index: 8;
    padding-bottom: 3rem;
    padding-top: 12rem;
    overflow: hidden;
    &_active {
      left: 0;
    }

    &__wrapper {
      padding: 5.5rem 5rem 0;
      display: flex;
      flex-direction: column;
      overflow: auto;
      height: 100%;
    }

    &__logo {
      max-width: 6.5rem;
      width: 100%;
      height: 6.2rem;
      margin: 0 auto;
      position: absolute;
      top: 4rem;
      left: 50%;
      transform: translateX(-50%);
      picture > * {
        width: 100%;
        height: 100%;
      }
    }

    &__navigation {
      &:not(:last-child) {
        margin-bottom: 15vh;
      }
    }

    &__link {
      &_small {
        a {
          color: black;
        }
        font-size: 2.4rem;
        &:not(:last-of-type) {
          margin-bottom: 1.7rem;
        }
      }
    }
  }

  .spoilerMenu {
    margin-bottom: 1.3rem;
    &.opened {
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
      .spoilerMenu__button {
        color: black;
      }
      .spoilerMenu__dropList {
        margin-top: 2rem;
      }
      .spoilerMenu__link {
        font-size: 1.8rem;
        &:not(:last-of-type) {
          margin-bottom: 1.5rem;
        }
      }
    }

    &__button {
      background-color: transparent;
      display: block;
      font-size: 3.6rem;
      line-height: 1.2;
      color: #c9c7c7;
      transition: 0.3s ease;
    }

    &__link {
      font-family: "Roboto";
      font-weight: 300;
      line-height: 1.2;
      font-size: 0;
      transition: 0.3s ease;

      a {
        color: #c9c7c7;
        &:hover {
          color: #000000;
        }
      }
    }
  }

  .navigation {
    display: none;
  }

  .header {
    border-bottom: 0px;
    padding-top: 2.8rem;

    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
    &__logotype {
      order: 2;
      justify-self: center;
      max-width: 6.3rem;
      height: 7.1rem;
    }
  }

  .iconsBar {
    order: 3;
    justify-self: end;
    &__icon {
      width: 2.7rem;
      height: 2.7rem;
      &:not(:first-of-type) {
        margin-left: 2.5rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
  }

  .responsiveMenu {
    width: 75%;
  }

  .iconsBar {
    &__icon {
      &:not(:nth-of-type(3)) {
        display: none;
      }
    }
  }
}

@media (max-width: 475px) {
  .header {
    padding-bottom: 2.6rem;
    &__container {
      grid-template-columns: 1fr 1fr;
    }
    &__logotype {
      display: none;
    }
  }

  .spoilerMenu {
    &__button {
      font-size: 1.8rem;
    }

    &.opened {
      .spoilerMenu__link {
        font-size: 1.2rem;
      }
    }
  }

  .responsiveMenu {
    padding-top: 5rem;

    &__wrapper {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &__logo {
      display: none;
    }

    &__navigation {
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }

    &__link {
      font-size: 1.8rem;
      display: block;
      &_small {
        font-size: 1rem;
        &:not(:last-of-type) {
          margin-bottom: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .iconsBar {
    &__icon {
      width: 22px;
      height: 22px;
    }
  }

  .responsiveMenu {
    &__wrapper {
      padding-top: 6rem;
    }
  }

  .spoilerMenu {
    &.opened {
      .spoilerMenu__dropList {
        margin-top: 1.5rem;
      }

      .spoilerMenu__link:not(:last-of-type) {
        margin-bottom: 0.8rem;
      }
    }
  }
}

.container {
  position: relative;
}

@media (min-width: 768px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    &__container {
      grid-template-columns: 7rem auto;
    }
    .iconsBar__icon {
      &:last-of-type {
        margin-left: auto;
      }
    }
  }
}
