.manyArticles {
  &__container {
    padding-top: 16rem;
    @media (max-width: 768px) {
      padding-top: 10rem;
    }
  }
  &__row {
    margin: 5rem -1.5rem 0 -1.5rem;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      margin: 0 -1.5rem;
    }
  }

  &__articleColumn {
    margin: 0 1.5rem;
  }

  @media (max-width: 768px) {
    /* Слайдер */
    .slick-slider {
      position: relative;
    }

    .slick-track {
      padding-bottom: 5rem;
      padding-top: 5rem;
    }

    /* Точки (булиты) */
    .slick-dots {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }
    .slick-dots li {
      width: 10px;
      height: 10px;
      background-color: #acafb5;
      margin: 0 5px;
      border-radius: 100%;
      opacity: 0.3s ease;
    }
    /* Активная точка */
    .slick-dots li.slick-active {
      opacity: 0.3s ease;
      background-color: #6672fb;
    }
    /* Элемент точки */
    .slick-dots li button {
      font-size: 0;
    }
  }
}
