$cut: polygon(100% 0, 100% 45%, 69% 79%, 0 54%, 0 0);
.firstScreen {
  &__wrapper {
    position: relative;
    padding-bottom: 10rem;
    @media (max-width: 768px) {
      margin-bottom: 10rem;
    }
    &:after,
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
      clip-path: $cut;
      @media (max-width: 768px) {
        clip-path: none;
      }
    }

    &:before {
      background-image: url("../img/firstScreen/background.jpg");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &:after {
      background-color: rgba(102, 114, 251, 0.5);
      box-shadow: rgba(102, 114, 251, 0.5);
    }
  }

  &__contentWrapper {
    display: flex;
    margin: 2rem 0 3rem 0;
    position: relative;
    z-index: 10;
  }
  &__textWrapper {
    margin: 1rem 0;
  }
  &__img {
    margin-right: 3rem;
    max-width: 16rem;
    width: 100%;
    @media (max-width: 1000px) {
      display: none;
    }
    img,
    source {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__subTitle {
    font-size: 2.4rem;
    line-height: 1.2;
    color: #ffffff;

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
}
