/* =================================================================================== */
/* ===================================  Partners   ==================================== */
/* Slider track row */
.slick-track {
  display: flex;
}
/* dots */
.partners__wrapper .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.partners__wrapper .slick-dots li.slick-active button {
  background-color: black;
  border: 1px solid white;
}
/* dots elements */
.partners__wrapper .slick-dots li button {
  font-size: 0px;
  margin: 0 10px;
  border: 1px solid #000;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* ===================================  Partners   ==================================== */
/* =================================================================================== */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* =================================================================================== */
/* ===================================  Review   ==================================== */
/* Slider */
/* Slider wrapper */
.review__wrapper .slick-list {
  margin-top: 70px;
}
/* Slider track row */
.review__wrapper .slick-track {
  display: flex;
}
/* slide */
/* arrow */
.review__wrapper .slick-arrow {
  position: absolute;
  font-size: 0;
  background-color: transparent;
  width: 6rem;
  height: 6rem;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  opacity: 0.8;
  z-index: 10;
}

/* arrow left */

.review__wrapper .slick-arrow.slick-prev {
  background-image: url(resources/icons/left-arrow.svg);
  left: 40%;
}
.review__wrapper .slick-arrow.slick-prev:hover {
  background-image: url(resources/icons/left-arrow_active.svg);
}

/* arrow right */
.review__wrapper .slick-arrow.slick-next {
  background-image: url(resources/icons/right-arrow.svg);
  right: 40%;
}

.review__wrapper .slick-arrow.slick-next:hover {
  background-image: url(resources/icons/right-arrow-active.svg);
}

@media (max-width: 500px) {
  .review__wrapper .slick-arrow.slick-next {
    right: 20%;
  }
  .review__wrapper .slick-arrow.slick-prev {
    left: 20%;
  }
}
/* ===================================  Review   ==================================== */
/* =================================================================================== */
