.firstScreenParralax {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 45rem;
  @include pictureParralaxBlock("@/assets/images/events/pictureBlock/1.png", $size: false);
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  position: relative;
  &_centered {
    min-height: 46rem;
    .firstScreenParralax__container {
      min-height: auto;
      height: 100%;
      transform: translateY(0);
    }

    .firstScreenParralax__painting {
      transform: translateY(100%);
    }
  }

  &__button {
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.2;
    text-transform: lowercase;
    color: #ffffff;
    border-bottom: 0.1rem solid white;
    display: block;
    margin: 0 auto;
    background-color: transparent;
  }

  &__container {
    max-width: fit-content;
    align-self: flex-start;
    transform: translateY(-17%);
  }

  &__painting {
    font-family: "Herr Von Muellerhoff";
    font-size: 26rem;
    text-align: center;
    color: #a69479;
    position: relative;
    line-height: 1;
    z-index: -1;
    transform: translateY(35%);
    bottom: 50%;
  }
  &__defaultTitle {
    font-family: "trajan-pro-3";
    font-size: 5.2rem;
    color: #ffffff;
    text-align: right;
  }
}

@media (max-width: 1440px) {
  .firstScreenParralax {
    min-height: 6rem;

    &_centered {
      min-height: 35rem;
    }
    &__painting {
      font-size: 20rem;
    }
    &__defaultTitle {
      font-size: 4rem;
    }
  }
}

@media (max-width: 768px) {
  .firstScreenParralax {
    min-height: 7.5rem;
    &_centered {
      min-height: 26rem;
      .firstScreenParralax__container {
        transform: translateY(35%);
      }
    }
    &__painting {
      font-size: 10.5rem;
    }
    &__defaultTitle {
      font-size: 2.1rem;
    }
  }
}

@media (max-width: 480px) {
  .firstScreenParralax {
    min-height: 30rem;

    &__button {
      margin-top: 2rem;
    }

    &__container {
      // transform: translateY(10%);
      align-self: center;
    }

    &__painting {
      font-size: 12rem;
    }
    &__defaultTitle {
      font-size: 2.4rem;
    }
  }
}
