/* vendors - code from side sources and Libraries */
@import "@scss/__global/abstracts/mixins.scss";
@import "@scss/__global/abstracts/variables.scss";
@import "@scss/__global/abstracts/functions.scss";

/* vendors - code from side sources and Libraries */

/* layout */
@import "@scss/_adjacent/layout/firstScreenParralax.scss";

/* components */

.menuParralaxBlock {
  &.firstScreenParralax {
    background-image: url("@/assets/images/menu/pictureBlock/1.png");
  }
}
.menuParralaxBlock-drinks {
  &.firstScreenParralax {
    background-image: url("@/assets/images/menu/pictureBlock/2.png");
  }
}

/* pages */

.menu {
  background-color: $mainBackgroundColor;
  $this: &;
  &__categoryLine {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2rem solid #a69479;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    #{$this}__text {
      &::after {
        display: none;
      }
    }

    #{$this}__title {
      margin: 0;
    }
  }

  &__container {
    padding-top: 13rem;
    padding-bottom: 16rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8rem;
    &:last-of-type {
    }
  }

  &__wrapper {
  }

  &__dot {
  }

  &__box {
    max-width: 73rem;
    &:not(:last-of-type) {
      margin-bottom: 6rem;
    }
  }

  &__text {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    max-width: 75%;
    background-color: $mainBackgroundColor;
    line-height: 1.2;
    position: relative;
    z-index: 2;

    &_bold {
      font-weight: 600;
    }
    &:first-of-type {
      &::after {
        content: "...........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
        position: absolute;
        bottom: 0;
      }
    }
  }
  &__line {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: flex-end;
    position: relative;
    // &:after {
    //   content: "";
    //   position: absolute;
    //   bottom: 50%;
    //   transform: translateY(50%);
    //   width: 100%;
    //   border-bottom: 0.4em dotted;
    // }

    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }
  }
  &__column {
    border-top: 0.2rem solid #e5e5e5;
    padding-top: 4rem;
    // max-width: 73rem;
  }
  &__title {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 4rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    &_bold {
      font-weight: 600;
    }
  }
}

@media (max-width: 1440px) {
  .menu {
    &__container {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }

    &__line {
      &:after {
        border-bottom: 0.2em dotted;
      }
      &:not(:last-of-type) {
        margin-bottom: 3rem;
      }
    }
    &__column {
      padding-top: 3rem;
    }
    &__title {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }
}

@media (max-width: 768px) {
  .menu {
    &__categoryLine {
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
    }

    &__container {
      padding-top: 6rem;
      padding-bottom: 6rem;
      gap: 4rem;
    }
    &__box {
      &:not(:last-of-type) {
        margin-bottom: 3rem;
      }
    }

    &__text {
      font-size: 0.9rem;
    }

    &__line {
      &:not(:last-of-type) {
        margin-bottom: 1.6rem;
      }
    }
    &__column {
      padding-top: 1.5rem;
    }
    &__title {
      margin-bottom: 1.5rem;
      font-size: 1.7rem;
    }
  }
}

@media (max-width: 480px) {
  .menu {
    $this: &;
    &__categoryLine {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      #{$this}__text {
        &:first-of-type {
          margin: 0;
        }
      }

      #{$this}__title {
        margin: 0;
      }
    }
    &__container {
      grid-template-columns: 1fr;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    &__column {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      row-gap: 3rem;
    }

    &__title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__line {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      &:after {
        display: none;
      }
      &:not(:last-of-type) {
        margin: 0;
      }
    }

    &__text {
      text-align: center;
      &:first-of-type {
        padding: 0;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        &::after {
          display: none;
        }
      }

      &:last-of-type {
        font-size: 1.6rem;
        padding: 0;
        font-weight: 600;
      }
    }
  }
}
