/*Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-calendar-picker-indicator {
  background-color: inherit;
}

// styles for background images and their div
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*--------------------*/
//==================================================================================================================================================
//======================================================== Fonts ===================================================================================
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
//======================================================== Fonts ===================================================================================
//==================================================================================================================================================
// ----------------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------------
//==================================================================================================================================================
//======================================================== Global settings  =====================================================================

// I used REM
html {
  font-size: 10px;
}


.wrapper {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  font-family: Roboto;
}

//======================================================== Global settings  =====================================================================
//===============================================================================================================================================
// ----------------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------------
//===============================================================================================================================================
//========================================================  <!-- Header with Slider-->  ===================================================
.text {
  font-size: 1.6rem;
  &_bold {
    font-weight: 700;
  }

  &__title {
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
    padding: 0 0 10px 0;
    font-size: 2.4rem;
    line-height: 36px;

  }
}

.slider {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  @media (max-width: 1000px) {
    flex-wrap: wrap;
  }

  &__slide {
    margin: 2rem 2rem 0 2rem;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 20rem;
    padding-bottom: 10%;
    transition: 0.5s ease;
    @media (max-width: 767px) {
      margin: 2rem;
    }
  }

  &__arrow {
    position: absolute;
    width: 20px;
    height: 15px;
    top: 50%;
    right: 0;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: black;
      width: 100%;
      height: 2px;
    }

    &::before {
      transform: rotate(-45deg);
      bottom: 0;
    }
    &::after {
      transform: rotate(45deg);
      top: 0;
    }

    &_prev {
      left: 0;
      &::before {
        transform: rotate(45deg);
        bottom: 0;
      }
      &::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }
}

//======================================================== <!-- Header with Slider-->   =========================================================
//===============================================================================================================================================
// ----------------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------------
// ===============================================================================================================================================
//========================================================   <!--  Advantages  --> ===============================================================
.advantages {
  max-width: 1000px;
  margin: 0 auto;
  &__column {
    align-items: center;
    margin: 0 20px;
    max-width: 35rem;
    width: 100%;
    @media (max-width: 767px) {
      margin: 20px 0;
      max-width: 35rem;
    }
  }

  &__text {
    margin: 20px 0 0 0;
    max-width: 20rem;
    text-align: center;
    line-height: 24px;
  }
}

.row {
  display: flex;
  &__advantages {
    justify-content: space-around;
    padding: 10rem 0;
    @media (max-width: 767px) {
      flex-wrap: wrap;
      padding: 5rem 0;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  &__image {
    padding-bottom: 50%;
    width: 50%;
    border-radius: 100%;
  }
}

//======================================================== <!--  Advantages  -->  =================================================================
//===============================================================================================================================================
// ----------------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------------
// ===============================================================================================================================================
//======================================================== <!-- Location --> ====================================================================

.text {
  &__title {
    &_big {
      font-size: 3rem;
    }
  }
}

.location {
  &__row {
    padding: 0 0 20rem 0;
    @media (max-width: 767px) {
      padding: 0 0 10rem 0;
    }
  }

  &__box {
    width: 100%;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__column {
    width: 100%;
    margin: 0 20px 0 0;
  }

  &__city {
    margin: 20px 0;
  }
}

//======================================================== <!-- Location -->  =====================================================================
//===============================================================================================================================================
// ----------------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------------
// ===============================================================================================================================================
//======================================================== <!-- Footer --> ====================================================================

.footer {
  background-color: rgb(233, 232, 232);
  &__row {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    padding: 6rem 1rem 8rem 1rem;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: center;
      padding: 4rem 0rem 6rem 0rem;
    }
  }

  &__column {
    margin: 0 2rem;
    line-height: 2rem;
    max-width: 30rem;
    width: 100%;
    @media (max-width: 767px) {
      margin: 2rem;
      max-width: 20rem;
      &:first-child {
        order: 99;
      }
    }
  }
}

.column {
  &__header {
    margin: 0 0 20px 0;
  }
  &__link {
    margin: 0 0 15px 0;
    color: grey;
  }
}

.mini-section {
  flex-direction: column;
  text-align: center;
  margin: 20px 0 0 0;

  @media (max-width: 767px) {
    max-width: 100%;
  }
  &:first-child {
    margin: 0;
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    padding: 5px;
    &_big {
      width: 5rem;
      height: 5rem;
      padding: 0;
      margin: 5px 10px;
    }
  }
  &__link-wrapper {
    border: 1px solid black;
    border-radius: 100%;
    margin: 0 5px;
    &:hover {
      background-color: rgb(209, 201, 201);
    }
  }
  &__title {
    font-size: 1.4rem;
    margin: 0 0 10px 0;
    font-weight: 700;
    color: rgb(90, 90, 90);
  }

  &__content-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
  }

  &__text-click {
    $elementSize: 1.8rem;
    font-size: $elementSize;
    color: grey;
    font-weight: 400;
    cursor: pointer;
    margin: 0 10px;

    &:nth-child(1)::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      height: $elementSize;
      width: 2px;
      background-color: rgb(160, 158, 158);
    }

    &:nth-child(2) {
      color: black;
    }
  }
}

//======================================================== <!--  Footer  -->  =================================================================
//===============================================================================================================================================
// ----------------------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------------------
