.container {
  max-width: 200rem;
  // width: 100%;
  // margin: 0 auto;
  // padding: 0 20px;
  display: flex;
  position: relative;
}
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}

.wrapper {
  overflow: hidden;
}

@media (max-width: 1024px) {
  .bodyOverlay {
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      z-index: 7;
      min-height: 100%;
      background-color: rgba(166, 166, 166, 0.46);
    }
  }
}
