@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "FontAwesome";
  src: url("fonts/fontawesome-webfont.eot");
  src: local("☺"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"), url("fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Bold.eot");
  src: local("☺"), url("fonts/Gotham-Bold.woff") format("woff"), url("fonts/Gotham-Bold.ttf") format("truetype"), url("fonts/Gotham-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham - Book";
  src: url("fonts/GOTHAMBOOK.eot");
  src: local("☺"), url("fonts/GOTHAMBOOK.woff") format("woff"), url("fonts/GOTHAMBOOK.ttf") format("truetype"), url("fonts/GOTHAMBOOK.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("fonts/GothamMedium.eot");
  src: local("☺"), url("fonts/GothamMedium.woff") format("woff"), url("fonts/GothamMedium.ttf") format("truetype"), url("fonts/GothamMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MYRIADPRO-REGULAR.eot");
  src: local("☺"), url("fonts/MYRIADPRO-REGULAR.woff") format("woff"), url("fonts/MYRIADPRO-REGULAR.ttf") format("truetype"), url("fonts/MYRIADPRO-REGULAR.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 7px;
  }
}
.header__wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(resources/1.main__block/Creatives__background.png);
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__panel {
  margin: 43px 0px 18px 0px;
  border-bottom: 1px solid rgba(125, 125, 128, 0.4);
  padding: 0px 20px;
}
@media (max-width: 750px) {
  .header__panel {
    margin: 63px 0px 18px 0px;
    padding: 0px 20px 15px 20px;
  }
}

.panel__body {
  display: flex;
  justify-content: space-between;
  max-width: 1176px;
  font-family: "Myriad Pro";
  font-size: 2rem;
  font-weight: 400;
  margin: 0 auto;
  align-items: center;
}
.panel__logo {
  align-self: flex-start;
  flex: 1 1 auto;
}
.panel__logo img {
  width: 7.9rem;
  height: 7.5rem;
}
.panel__nav {
  display: flex;
}
.panel__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e8e8e8;
  font-size: 2rem;
  height: 100px;
  padding: 0px 25px;
}
@media (max-width: 1024px) {
  .panel__nav-item {
    padding: 0px 15px;
  }
}
@media (max-width: 750px) {
  .panel__nav-item {
    height: 100%;
  }
}
.panel__nav-item:hover {
  content: "";
  border-bottom: 5px solid #11749e;
  transition: all 0.2s ease;
}
.panel__social-networks {
  margin: 0px 0px 0px 12px;
  max-width: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-screen__body {
  font-family: "Gotham";
  text-align: center;
  text-transform: uppercase;
}
.main-screen__title {
  color: #f5f5f5;
  font-size: 15.3rem;
  font-weight: 700;
  letter-spacing: -0.8rem;
}
@media (max-width: 750px) {
  .main-screen__title {
    font-size: 13.3rem;
  }
}
@media (max-width: 574px) {
  .main-screen__title {
    font-size: 10.3rem;
  }
}
@media (max-width: 450px) {
  .main-screen__title {
    font-size: 7.3rem;
  }
}
.main-screen__subtitle {
  color: #11749e;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1.7rem;
  margin: 15px 0px;
  padding: 0px 15px;
}
@media (max-width: 400px) {
  .main-screen__subtitle {
    font-size: 1.5rem;
  }
}

.scroll__text {
  display: block;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  scroll-behavior: smooth;
}
.scroll__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
  max-width: 6.5rem;
  max-height: 6.5rem;
}

@media (max-width: 750px) {
  .header__burger-menu {
    display: block;
    position: relative;
    position: absolute;
    right: 20px;
    top: 5%;
    width: 30px;
    height: 20px;
    padding: 5px;
  }
  .header__burger-menu::after, .header__burger-menu::before {
    content: "";
    background-color: white;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger-menu::after {
    bottom: 0px;
  }
  .header__burger-menu::before {
    top: 0px;
  }
  .header__burger-menu_active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger-menu_active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger-menu_active span {
    transform: scale(0);
  }
  .header__burger-menu span {
    background-color: white;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 750px) and (max-width: 750px) {
  .panel__nav {
    position: absolute;
    top: -100%;
  }
}
@media (max-width: 750px) {
  .panel__nav_burger-state {
    position: absolute;
    right: 0;
    top: 21%;
    width: 40%;
    height: 65%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #16161a;
    transition: all 0.3s ease 0s;
  }
  .panel__nav_burger-state li {
    border: 1px rgba(125, 125, 128, 0.4) solid;
    width: 100%;
    height: 100%;
  }
}
.section {
  color: #ffffff;
  overflow: hidden;
  font-family: "Gotham - Book";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_bc-blue {
  background-color: #11749e;
}
.section__body {
  max-width: 1170px;
  margin: 0rem 2rem 10rem 2rem;
}
@media (max-width: 1024px) {
  .section__body {
    margin: 0rem 2rem 7rem 2rem;
  }
}

.logo-header__title {
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 3.8rem;
  min-height: 18rem;
  font-family: "Gotham";
  font-weight: 500;
  text-align: center;
  margin: 10rem 0rem 7rem 0rem;
}
@media (max-width: 1024px) {
  .logo-header__title {
    margin: 7rem 0rem 5rem 0rem;
    min-height: 14rem;
  }
}
@media (max-width: 850px) {
  .logo-header__title {
    font-size: 3.3rem;
    margin: 5rem 0rem 3rem 0rem;
  }
}

.row {
  display: flex;
  justify-content: center;
}
@media (max-width: 850px) {
  .row {
    flex-direction: column;
  }
}
.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 25%;
  text-align: center;
  padding: 0rem 1.5rem;
}
@media (max-width: 850px) {
  .row__column {
    margin-top: 3rem;
  }
}
.row__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.row__image_w {
  width: 13.3rem;
  height: 13.3rem;
  border-radius: 100%;
  background-color: #2e85aa;
}
@media (max-width: 850px) {
  .row__image_w {
    width: 10rem;
    height: 10rem;
  }
}
.row__image_w img {
  width: 3.5rem;
  height: 3.4rem;
}
.row__title {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  font-family: Gotham;
}
@media (max-width: 850px) {
  .row__title {
    margin-bottom: 1.5rem;
  }
}
.row__text {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (max-width: 850px) {
  .row__text {
    display: block;
    max-width: 600px;
  }
}

.full-screen__row {
  display: flex;
}
@media (max-width: 850px) {
  .full-screen__row {
    flex-direction: column-reverse;
  }
}
.full-screen__row_2 {
  flex-direction: row-reverse;
}
@media (max-width: 850px) {
  .full-screen__row_2 {
    flex-direction: column-reverse;
  }
}
.full-screen__image {
  flex: 0 1 50%;
}
@media (max-width: 850px) {
  .full-screen__image {
    min-height: 32rem;
  }
}

.box {
  flex: 1 1 50%;
}
.box__wrapper {
  font-family: "Gotham - Book";
  background-color: #222222;
  display: flex;
  justify-content: center;
}
.box__wrapper_2-row {
  background-color: #f3f3f3;
}
.box__body {
  max-width: 470px;
  width: 100%;
  color: #ffffff;
  padding: 0px 2rem;
  margin: 10rem 0px;
}
@media (max-width: 1024px) {
  .box__body {
    margin: 8rem 0px;
  }
}
@media (max-width: 850px) {
  .box__body {
    margin: 4rem 0px;
  }
}
.box__body_white {
  color: #222222;
}
.box__date {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.box__title {
  font-family: Gotham;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
}
.box__text {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  padding: 1rem 0px;
  text-align: justify;
}

.section_bc-white {
  background-color: #ffffff;
  color: #222222;
}

.logo-header__title_blog {
  margin: 9rem 0px 4rem 0px;
}
@media (max-width: 1024px) {
  .logo-header__title_blog {
    margin: 7rem 0px 4rem 0px;
  }
}
.logo-header__sub-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 7.6rem;
}
@media (max-width: 1024px) {
  .logo-header__sub-title {
    margin-bottom: 6.6rem;
  }
}
@media (max-width: 850px) {
  .logo-header__sub-title {
    font-size: 2.5rem;
  }
}

.row__image_blog {
  margin-bottom: 4.4rem;
  max-width: 27rem;
  width: 100%;
}
.row__image_blog img {
  width: 100%;
  height: 100%;
}
@media (max-width: 850px) {
  .row__image_blog {
    max-width: 22rem;
  }
}
.row__title_blog {
  color: #11749e;
}

.row_comment {
  margin: 10rem 0px 0px 0px;
}
@media (max-width: 1024px) {
  .row_comment {
    margin: 6rem 0px 0px 0px;
  }
}
@media (max-width: 850px) {
  .row_comment {
    margin: 3rem 0px 0px 0px;
  }
}
.row__column_comment {
  flex: 1 1 50%;
  flex-direction: row;
  text-align: left;
  align-self: flex-start;
}
.row__image_comment {
  margin: 0px 3rem 0px 0px;
  align-self: flex-start;
  max-width: 6.9rem;
  max-height: 6.9rem;
  width: 100%;
  height: 100%;
}
@media (max-width: 850px) {
  .row__image_comment {
    max-width: 4.9rem;
    max-height: 4.9rem;
  }
}

.responsive-design__wrapper {
  max-width: 1083px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12.5rem 0px 9.5rem 0px;
}
@media (max-width: 1024px) {
  .responsive-design__wrapper {
    margin: 10rem 0px 5rem 0px;
  }
}
@media (max-width: 1024px) and (max-width: 850px) {
  .responsive-design__wrapper {
    margin: 6rem 0px 5rem 0px;
  }
}
.responsive-design__line {
  font-family: Gotham;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #11749e;
  width: 100%;
  padding: 1.6rem 0px 1.6rem 20px;
}
.responsive-design__line_1 {
  max-width: 37rem;
  margin-top: 7rem;
}
@media (max-width: 850px) {
  .responsive-design__line_1 {
    margin-top: 3rem;
  }
}
.responsive-design__line_2 {
  max-width: 40rem;
  margin: 2.4rem 0px;
}
.responsive-design__line_3 {
  max-width: 42.8rem;
}
.responsive-design__image {
  background-size: contain;
  max-width: 390px;
  width: 100%;
  padding-bottom: 60.5%;
}
@media (max-width: 850px) {
  .responsive-design__image {
    padding-bottom: 50.5%;
  }
}

.logo-header__title_team {
  margin: 6.7rem 0px;
}
@media (max-width: 1024px) {
  .logo-header__title_team {
    margin: 5rem 0px;
  }
}

@media (max-width: 850px) {
  .row_team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.row__image_team {
  max-width: 27rem;
  max-height: 41.4rem;
  width: 100%;
  position: relative;
}
@media (max-width: 850px) {
  .row__image_team {
    max-width: 24rem;
    max-height: 36rem;
  }
}
.row__image_team img {
  width: 100%;
  height: 100%;
}
@media (max-width: 850px) {
  .row__image_team {
    min-width: 19rem;
    min-height: 28rem;
  }
}

.name {
  position: absolute;
  bottom: -7%;
  background-color: #ffffff;
  max-width: 80%;
  width: 100%;
  font-family: Gotham;
  font-weight: 500;
  text-transform: uppercase;
}
.name__full-name {
  display: block;
  color: #11749e;
  font-size: 2rem;
  margin: 1.3rem 0px;
}
.name__position {
  font-size: 1.5rem;
  color: #000000;
}
.name__position_low {
  text-transform: capitalize;
}

.logo-header__title_contact {
  margin: 14.5rem 0px 7.5rem 0px;
  margin: 6.7rem 0px;
}
@media (max-width: 1024px) {
  .logo-header__title_contact {
    margin: 10rem 0px 6.5rem 0px;
  }
}
@media (max-width: 850px) {
  .logo-header__title_contact {
    margin: 7rem 0px 3rem 0px;
  }
}

.contact ::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Gotham - Book";
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.contact ::-moz-placeholder {
  color: #ffffff;
  font-family: "Gotham - Book";
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.contact :-ms-input-placeholder {
  color: #ffffff;
  font-family: "Gotham - Book";
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.contact :-moz-placeholder {
  color: #ffffff;
  font-family: "Gotham - Book";
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.contact__body {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 2rem;
}
.contact__row-inputs {
  display: flex;
  justify-content: space-between;
  margin: 0px -1rem;
}
@media (max-width: 750px) {
  .contact__row-inputs {
    flex-direction: column;
  }
}
.contact__input {
  background-color: transparent;
  flex: 1 1 33.333%;
  border: 1px solid #929292;
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
  margin: 0px 1rem 4rem 1rem;
}
.contact__input_text-area {
  max-height: 151px;
  resize: none;
  width: 100%;
  margin: 0px 0px 4rem 0px;
}
.contact__button {
  display: block;
  width: 22.7rem;
  height: 6.4rem;
  background-color: #11749e;
  color: #ffffff;
  font-family: Gotham;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px auto 10rem auto;
}

#map {
  width: 100%;
  height: 33rem;
}
@media (max-width: 1024px) {
  #map {
    height: 30rem;
  }
}
@media (max-width: 750px) {
  #map {
    height: 40rem;
  }
}

.footer {
  background-color: #222222;
  height: 11.5rem;
}
.footer__body {
  display: flex;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
  color: #ffffff;
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.26px;
  height: 100%;
  padding: 15px;
}