@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  font-family: "IBM Plex Sans";
}

.wrapper {
  background-color: #0b0e11;
  overflow: hidden;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.contacts a {
  width: 50px;
  height: 50px;
  margin: 0 20px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contacts a:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.contacts a img,
.contacts a source {
  width: 100%;
  height: 100%;
}

.block__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

@media (max-width: 1280px) {
  .block__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.block__column {
  max-width: 800px;
  text-align: center;
  margin: 0 0px 0 50px;
}

.block__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 60px;
  margin: 0 0 40px 0px;
  color: white;
}

@media (max-width: 1440px) {
  .block__title {
    font-size: 46px;
  }
}

@media (max-width: 700px) {
  .block__title {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 20px;
  }
}

.block__image {
  position: fixed;
  max-width: 50%;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -100%;
  -webkit-transition: right 1s, opacity 0.2s;
  -o-transition: right 1s, opacity 0.2s;
  transition: right 1s, opacity 0.2s;
  visibility: hidden;
}

@media (max-width: 1440px) {
  .block__image {
    max-width: 55%;
  }
}

@media (max-width: 1280px) {
  .block__image {
    max-width: 80%;
    position: relative;
    top: 0;
    margin: 50px 0;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media (max-width: 1000px) {
  .block__image {
    max-width: 100%;
  }
}

@media (max-width: 1280px) {
  .block__image {
    visibility: visible !important;
  }
}

.block__image_active {
  right: 0%;
  visibility: visible;
}

.block__image img,
.block__image source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block__text {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 32px;
  font-family: "iconfont";
  margin-bottom: 10px;
}

@media (max-width: 1440px) {
  .block__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 1280px) {
  .block__text {
    margin-bottom: 10px;
  }
}

.slider__title {
  color: white;
  font-size: 38px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.slider__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  width: 100%;
  text-align: center;
}

/* Слайдер */
.slick-slider {
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
  padding-bottom: 70px;
  z-index: 2;
  margin-top: 30px;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
.slick-slide {
  display: block;
  max-width: 600px;
  width: 100%;
  height: 450px;
  position: relative;
  margin: 0 20px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 100;
}

.slick-slide:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.slick-slide source,
.slick-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  display: none;
}

/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  bottom: 20px;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.slick-dots li {
  border: 1px solid white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 10px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

/* Активная точка */
.slick-dots li.slick-active {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: white;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
}
