@keyframes appear {
  0% {
    top: -100%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  50% {
    top: 75%;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
    top: 50%;
  }
}

.header {
  padding: 3.5rem 0;
  position: relative;
  @media (max-width: 768px) {
    padding: 2rem 0;
  }
  &:after,
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: white;
  }
  &:after {
    right: 0;
    width: 65%;
  }

  &:before {
    left: 0;
    width: 26%;
  }

  &__logo {
    max-width: 16.5rem;
    margin-right: 9.5rem;
    @media (max-width: 768px) {
      display: none;
    }
    source,
    img {
      width: 100%;
    }

    &_responsive {
      display: none;
      @media (max-width: 768px) {
        max-width: 19rem;
        width: 100%;

        margin: 0;
        height: 5rem;
        display: block;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 0 1.5rem;
    }
  }

  &__burgerIcon {
    display: none;
    @media (max-width: 768px) {
      border-radius: 15px;
      display: inline-flex;
      align-items: center;
      width: 2.3rem;
      height: 2rem;
      z-index: 100;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 2rem;

      &::after,
      &::before,
      span {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 3px;
        background-color: white;
        transition: 0.3s ease;
      }

      &::after {
        top: 0px;
      }

      &::before {
        bottom: 0px;
      }

      &_close {
        top: 12.5rem;
        right: 3rem;
        &::after,
        &:before {
          background-color: #6672fb;
          top: 50%;
        }
        span {
          opacity: 0;
        }

        &::after {
          transform: translateX(-50%) rotate(45deg);
        }

        &::before {
          transform: translateX(-50%) rotate(-45deg);
        }
      }
    }
    @media (max-width: 480px) {
      top: 4rem;
    }
  }
}

.navigation {
  display: flex;
  max-width: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    transform: translate(-50%, -50%);
    left: 50%;
    top: -100%;
    position: fixed;
    background: #ffffff;
    box-shadow: 0px 0.3px 2rem rgba(102, 114, 251, 0.5);
    max-width: 40rem;
    z-index: 100;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.5s ease;
    padding: 10rem 2rem 2rem 2rem;

    &_active {
      top: 50%;
      animation: appear 2s ease-out forwards;
      .header__logo_responsive {
        margin: 0 0 2rem 0;
      }
    }
  }
  @media (max-width: 480px) {
    max-width: 30rem;
    padding: 5rem 2rem 2rem 2rem;
  }
  &__block {
    display: flex;
    flex: 1 1 50%;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      .spoiler__wrapper {
        margin-bottom: 16px;
      }

      .spoiler__arrow {
        svg {
          path {
            fill: #3f3d56;
          }
        }
      }

      .spoiler__list {
        min-width: 100%;
        max-width: 100%;
        position: relative;
        box-shadow: none;
        border-radius: 0px;
        top: 0;
        padding: 0;
      }
    }
    &_buttons {
      justify-content: flex-end;
      @media (max-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: 16px;
      }
      @media (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__button {
    font-size: 1.6rem;
    color: white;
    margin-left: 3rem;
    background-color: transparent;

    @media (max-width: 768px) {
      margin-left: 0px;
      color: #6672fb;
    }

    &_bold {
      font-weight: 700;
      text-transform: uppercase;
      @media (max-width: 768px) {
        color: #3f3d56;
        font-size: 2.4rem;
      }
    }

    @mixin whiteBg {
      border: 2px solid transparent;
      background: #6672fb;
      color: #ffffff;
    }

    @mixin coloredBg {
      border: 2px solid #6672fb;
      background-color: #ffffff;
      color: #6672fb;
    }

    &_login {
      width: 100%;
      height: 3.5rem;
      border-radius: 10px;
      flex: 1 0 100%;
      max-width: 16.5rem;
      @include coloredBg;
      &:hover {
        @include whiteBg;
      }

      @media (max-width: 768px) {
        display: block;
        width: 100%;
        max-width: 22rem;
        flex: 1 1 auto;
        @include whiteBg;

        margin: 0 0 0 2rem;
        &:hover {
          @include coloredBg;
        }
      }
      @media (max-width: 480px) {
        margin: 2rem 0 0 0;
      }
    }
  }
}
