

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue__400/BebasNeue__400.eot");
  src: local("☺"), url("../fonts/BebasNeue__400/BebasNeue__400.woff") format("woff"),
    url("../fonts/BebasNeue__400/BebasNeue__400.ttf") format("truetype"),
    url("../fonts/BebasNeue__400/BebasNeue__400.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue__300/BebasNeue__300.eot");
  src: local("☺"), url("../fonts/BebasNeue__300/BebasNeue__300.woff") format("woff"),
    url("../fonts/BebasNeue__300/BebasNeue__300.ttf") format("truetype"),
    url("../fonts/BebasNeue__300/BebasNeue__300.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}