mixin socialMedia(additionalClass,color)
    .socialMedia(class=additionalClass)
        a(href="https://www.facebook.com/mastersuitcafe").socialMedia__link
            include ~@/assets/images/_global/icons/facebook-logo.svg
        a(href="https://www.instagram.com/mastersuitcafe/").socialMedia__link
            include ~@/assets/images/_global/icons/insta-logo.svg
            
