.footer {
  background-color: #1f1f1d;
  position: relative;
  z-index: 1;
  &__container {
    display: grid;
    // justify-content: center;
    grid-template-columns: 1fr repeat(2, auto);
    justify-content: space-between;
    padding-top: 10rem;
    padding-bottom: 10rem;
    max-width: 130rem;
    gap: 10rem;
  }

  &__logo {
    max-width: 37rem;
    width: 100%;
    // justify-self: center;
    align-self: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__link {
    font-size: 2.6rem;
    letter-spacing: 0.1em;
    color: #ffffff;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__linksList {
    display: flex;
    flex-direction: column;
  }

  .socialMedia {
    path {
      fill: #a69479;
    }
  }
}

@media (max-width: 1440px) {
  .footer {
    &__container {
      max-width: 99rem;
      padding-top: 7.5rem;
      padding-bottom: 7.5rem;
      gap: 7rem;
    }

    &__logo {
      max-width: 28.5rem;
    }

    &__link {
      font-size: 2rem;
      line-height: 1.2;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__container {
      padding-top: 3rem;
      padding-bottom: 3rem;
      gap: 6rem;
      max-width: 68rem;
    }

    &__logo {
      max-width: 22rem;
    }

    &__link {
      font-size: 1.4rem;
      &:not(:last-child) {
        margin-bottom: 1.7rem;
      }
    }
    .socialMedia {
      grid-template-columns: 2.4rem 2.4rem;
      gap: 2rem;
    }
    .socialMedia__link {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    &__container {
      grid-template-columns: auto 1fr;
      grid-template-rows: max-content 1fr;
      gap: 3rem;
    }

    &__link {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &__linksList {
      flex-direction: row;
      justify-content: space-between;
      & :not(:last-child) {
        margin: 0 1rem 0 0;
      }
    }

    &__column {
      &_navigation {
        grid-column: 1/2 span;
      }
      &_information {
        grid-row: 2/2;
      }
    }

    &__logo {
      grid-row: 2/2;
      grid-column: 2;
      justify-self: center;
      align-self: flex-start;
      // max-width: 14rem;
    }

    .socialMedia {
      justify-content: center;
      margin-top: 1.5rem;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    &__container {
      gap: 1.5rem;
    }

    &__link {
      font-size: 1.2rem;
    }

    &__logo {
      max-width: 14rem;
      margin-top: 1rem;
    }
    .socialMedia {
      gap: 1rem;
      justify-items: center;
    }
    .socialMedia__link {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

@media (max-width: 320px) {
  .footer {
    &__container {
      padding: 2rem 1.5rem;
    }
  }
}
